####################################
# Environnements & éditeurs
####################################
.vscode/
.idea/

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Dépendances
####################################
node_modules/

####################################
# Logs & temporaires
####################################
*.log
*.tmp
*.cache

####################################
# Configuration sensible
####################################
.env
.env.local

####################################
# XAMPP / Apache
####################################
.htaccess
/php.ini

####################################
# Dossiers sensibles
####################################
/private/
